body{
    display:flex;
    background-color: rgb(190, 186, 186);
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}

.container{
    background-color: white;
    width: 960px;
    height: 960px;
    border-color: burlywood;
    border-width: 5px;
    border-style: solid;
    
}
.headline{
    font-family: monospace;
    margin-bottom: 50px;
}
.change-size{
    margin-top:20px;
    width: 200px;
    height: 70px;
    font-size: large;
    font-family: monospace;
   }