html {
    font-family: "Roboto", sans-serif;
    color: #4c4f69;
    background-color: #dce0e8;
  }
body{
  
  
        width: 1000px;
        margin: auto;
      
}

.container{   
    display: flex;
    flex-direction: column;
    height: 880px;
    width: 880px;
    border: 1px;
    border-color: #4c4f69;
    border-style: solid;
    margin-top: 32px;  
    }
.headline{
    font-family: monospace;
    margin-bottom: 50px;
}
.change-size{
    margin-top:20px;
    width: 200px;
    height: 70px;
    font-size: large;
    font-family: monospace;
   }
   .row {
    display: flex;
    flex-direction: row;
   }
  .row,
  .column {
    flex: 1 1 auto;
    background-color: rgb(255, 255, 255);
    
  }

  
  